In [1]:
import pandas as pd
import mysql.connector
from tabulate import tabulate
from datetime import datetime

# Connect to MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="nithya",
    database="DataSpark"  
)
print("Database connection established.")
mycursor = mydb.cursor(buffered=True)

Database connection established.

1. Total Revenue by store country

In [9]:

query = '''
SELECT 
    `Store Country`, 
    SUM(Quantity * `Unit Price USD`) AS Total_Revenue 
FROM 
    `global electronics`
GROUP BY 
    `Store Country`;
'''

mycursor.execute(query)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]


print(tabulate(result, headers, tablefmt="grid"))

+-----------------+-----------------+
| Store Country   |   Total_Revenue |
+=================+=================+
| Canada          |     3.61156e+06 |
+-----------------+-----------------+
| Online          |     1.14043e+07 |
+-----------------+-----------------+
| United Kingdom  |     5.74977e+06 |
+-----------------+-----------------+
| Netherlands     |     1.59134e+06 |
+-----------------+-----------------+
| United States   |     2.37644e+07 |
+-----------------+-----------------+
| Italy           |     2.05909e+06 |
+-----------------+-----------------+
| France          |     1.22955e+06 |
+-----------------+-----------------+
| Germany         |     4.24628e+06 |
+-----------------+-----------------+
| Australia       |     2.09914e+06 |
+-----------------+-----------------+

2.Total quantity sold by category

In [4]:
mydb.commit()

query2 = '''
    SELECT 
    Category, 
    SUM(Quantity) AS Total_Quantity_Sold 
FROM 
    `global electronics`
GROUP BY 
    CategoryKey, 
    Category'''
    
mycursor.execute(query2)

result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]


print(tabulate(result, headers, tablefmt="grid"))

+-------------------------------+-----------------------+
| Category                      |   Total_Quantity_Sold |
+===============================+=======================+
| Cameras and camcorders        |                 17609 |
+-------------------------------+-----------------------+
| Home Appliances               |                 18401 |
+-------------------------------+-----------------------+
| Computers                     |                 44151 |
+-------------------------------+-----------------------+
| TV and Video                  |                 11236 |
+-------------------------------+-----------------------+
| Cell phones                   |                 31477 |
+-------------------------------+-----------------------+
| Music, Movies and Audio Books |                 28802 |
+-------------------------------+-----------------------+
| Games and Toys                |                 22591 |
+-------------------------------+-----------------------+
| Audio                         |                 23490 |
+-------------------------------+-----------------------+

3.List the top 5 most sold products by quantity

In [5]:
mydb.commit()

query3 = '''
SELECT 
    `Product Name`, 
    SUM(Quantity) AS Total_Quantity_Sold 
FROM 
    `global electronics`
GROUP BY 
    ProductKey, 
    `Product Name`
ORDER BY 
    Total_Quantity_Sold DESC 
LIMIT 5'''
    
mycursor.execute(query3)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

print(tabulate(result, headers, tablefmt="grid"))

+--------------------------------------------+-----------------------+
| Product Name                               |   Total_Quantity_Sold |
+============================================+=======================+
| WWI Desktop PC2.33 X2330 Black             |                   550 |
+--------------------------------------------+-----------------------+
| WWI Desktop PC1.80 E1800 White             |                   538 |
+--------------------------------------------+-----------------------+
| Adventure Works Desktop PC1.60 ED160 Black |                   521 |
+--------------------------------------------+-----------------------+
| Adventure Works Desktop PC2.30 MD230 White |                   521 |
+--------------------------------------------+-----------------------+
| Adventure Works Desktop PC1.80 ED180 Black |                   520 |
+--------------------------------------------+-----------------------+

4.Calculate the total number of orders made by male customers.

In [8]:
mydb.commit()

query4 = '''
SELECT 
    COUNT(`Order Number`) AS Total_Orders 
FROM 
    `global electronics`
WHERE 
    `Customer Gender` = 'Male' '''
    
mycursor.execute(query4)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

print(tabulate(result, headers, tablefmt="grid"))

+----------------+
|   Total_Orders |
+================+
|          31804 |
+----------------+

5.Calculate the total number of orders made by Female customers.

In [9]:
mydb.commit()

query5 = '''
SELECT 
    COUNT(`Order Number`) AS Total_Orders 
FROM 
    `global electronics`
WHERE 
    `Customer Gender` = 'Female' '''
    
mycursor.execute(query5)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]


print(tabulate(result, headers, tablefmt="grid"))

+----------------+
|   Total_Orders |
+================+
|          31080 |
+----------------+

6.customers who have made more than ten purchase

In [12]:
mydb.commit()

query6='''
SELECT 
    CustomerKey, 
    COUNT(*) AS NumberOfPurchases
FROM 
    `global electronics`
GROUP BY 
    CustomerKey
HAVING 
    COUNT(*) > 10'''

mycursor.execute(query6)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]


print(tabulate(result[:10], headers, tablefmt="grid"))

+---------------+---------------------+
|   CustomerKey |   NumberOfPurchases |
+===============+=====================+
|        758280 |                  16 |
+---------------+---------------------+
|       1301565 |                  11 |
+---------------+---------------------+
|        942807 |                  12 |
+---------------+---------------------+
|       1736623 |                  18 |
+---------------+---------------------+
|       1843882 |                  16 |
+---------------+---------------------+
|        571622 |                  16 |
+---------------+---------------------+
|       1664824 |                  19 |
+---------------+---------------------+
|       1884908 |                  13 |
+---------------+---------------------+
|       2092033 |                  11 |
+---------------+---------------------+
|       1522590 |                  11 |
+---------------+---------------------+

7.to Get Distinct Order Counts for Every Year:

In [13]:
mydb.commit()

query7='''
SELECT 
    YEAR(`Order Date`) AS `Year`, 
    COUNT(DISTINCT `Order Number`) AS `Distinct Order Count`
FROM 
    `global electronics`
GROUP BY 
    YEAR(`Order Date`)'''

    
mycursor.execute(query7)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

print(tabulate(result, headers, tablefmt="grid"))

# we have only two months data for year 2021

+--------+------------------------+
|   Year |   Distinct Order Count |
+========+========================+
|   2016 |                   2865 |
+--------+------------------------+
|   2017 |                   3280 |
+--------+------------------------+
|   2018 |                   5965 |
+--------+------------------------+
|   2019 |                   9083 |
+--------+------------------------+
|   2020 |                   4635 |
+--------+------------------------+
|   2021 |                    498 |
+--------+------------------------+

8 to Get the Number of Stores in Each  Store Country

In [17]:
mydb.commit()

query8='''
SELECT 
    `Store Country`, 
    COUNT(*) AS `Number of Stores`
FROM 
    `global electronics`
GROUP BY 
    `Store Country`'''
mycursor.execute(query8)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

print(tabulate(result, headers, tablefmt="grid"))

+-----------------+--------------------+
| Store Country   |   Number of Stores |
+=================+====================+
| Canada          |               4206 |
+-----------------+--------------------+
| Online          |              13165 |
+-----------------+--------------------+
| United Kingdom  |               6643 |
+-----------------+--------------------+
| Netherlands     |               1817 |
+-----------------+--------------------+
| United States   |              26555 |
+-----------------+--------------------+
| Italy           |               2201 |
+-----------------+--------------------+
| France          |               1387 |
+-----------------+--------------------+
| Germany         |               4662 |
+-----------------+--------------------+
| Australia       |               2248 |
+-----------------+--------------------+

9.to Get Revenue by Store Square Meter:

In [13]:
mydb.commit()

query9='''
SELECT 
    `Stores Square Meter`, 
    SUM(`Quantity` * `Unit Price USD`) AS `Total Revenue`
FROM 
    `global electronics`
GROUP BY 
    `Stores Square Meter`'''

mycursor.execute(query9)

result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

print(tabulate(result[:10], headers, tablefmt="grid"))

+-----------------------+------------------+
|   Stores Square Meter |    Total Revenue |
+=======================+==================+
|                  1210 |      1.04319e+06 |
+-----------------------+------------------+
|                     0 |      1.14043e+07 |
+-----------------------+------------------+
|                  1800 | 995313           |
+-----------------------+------------------+
|                  1540 |      1.47513e+06 |
+-----------------------+------------------+
|                  1190 |      1.25026e+06 |
+-----------------------+------------------+
|                  1000 | 913856           |
+-----------------------+------------------+
|                  1500 |      1.33615e+06 |
+-----------------------+------------------+
|                   840 |      1.22096e+06 |
+-----------------------+------------------+
|                  1785 |      1.22504e+06 |
+-----------------------+------------------+
|                  2100 |      3.07729e+06 |
+-----------------------+------------------+

10. to Get Revenue by Store Open year:

In [7]:

mydb.commit()

query10='''
SELECT 
    YEAR(`Store Open Date`) AS `Year`, 
    SUM(`Quantity` * `Unit Price USD`) AS `Total Revenue`
FROM 
    `global electronics`
GROUP BY 
    YEAR(`Store Open Date`)'''

mycursor.execute(query10)

# Fetch the results and display them in a tabulated format
result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

# Display the result as a table
print(tabulate(result, headers, tablefmt="grid"))

+--------+------------------+
|   Year |    Total Revenue |
+========+==================+
|   2015 |      7.68498e+06 |
+--------+------------------+
|   2010 |      1.89494e+07 |
+--------+------------------+
|   2008 |      5.65531e+06 |
+--------+------------------+
|   2005 |      2.17814e+06 |
+--------+------------------+
|   2014 |      3.29086e+06 |
+--------+------------------+
|   2012 |      9.01235e+06 |
+--------+------------------+
|   2013 |      1.91838e+06 |
+--------+------------------+
|   2009 |      3.30374e+06 |
+--------+------------------+
|   2007 |      1.4784e+06  |
+--------+------------------+
|   2018 |      2.00415e+06 |
+--------+------------------+
|   2019 | 279775           |
+--------+------------------+

11 Orders by Customer Gender:

In [14]:
mydb.commit()

query11='''
SELECT 
    `Customer Gender`, 
    COUNT(`Order Number`) AS `Number of Orders`
FROM 
    `global electronics`
GROUP BY 
    `Customer Gender`'''
mycursor.execute(query11)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]


print(tabulate(result, headers, tablefmt="grid"))

+-------------------+--------------------+
| Customer Gender   |   Number of Orders |
+===================+====================+
| Male              |              31804 |
+-------------------+--------------------+
| Female            |              31080 |
+-------------------+--------------------+

12.Total revenue by brand

In [2]:
mydb.commit()

query12='''
SELECT 
    `Brand`, 
    SUM(`Quantity` * `Unit Price USD`) AS `Total Revenue`
FROM 
    `global electronics`
GROUP BY 
    `Brand` '''
mycursor.execute(query12)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

print(tabulate(result, headers, tablefmt="grid"))

+----------------------+------------------+
| Brand                |    Total Revenue |
+======================+==================+
| Contoso              |      1.07923e+07 |
+----------------------+------------------+
| A. Datum             |      1.48621e+06 |
+----------------------+------------------+
| Fabrikam             |      6.80789e+06 |
+----------------------+------------------+
| Adventure Works      |      1.18499e+07 |
+----------------------+------------------+
| The Phone Company    |      5.38682e+06 |
+----------------------+------------------+
| Proseware            |      3.21263e+06 |
+----------------------+------------------+
| Wide World Importers |      9.1728e+06  |
+----------------------+------------------+
| Tailspin Toys        | 682731           |
+----------------------+------------------+
| Southridge Video     |      2.5786e+06  |
+----------------------+------------------+
| Litware              |      2.6595e+06  |
+----------------------+------------------+
| Northwind Traders    |      1.12607e+06 |
+----------------------+------------------+

13.Highest Selling Color in Every Brand

In [8]:
mydb.commit()

query13='''
SELECT 
    t1.Brand, 
    t1.Color, 
    t1.Total_Quantity_Sold
FROM 
    (
        SELECT 
            Brand, 
            Color, 
            SUM(Quantity) AS Total_Quantity_Sold
        FROM 
            `global electronics`
        GROUP BY 
            Brand, 
            Color
    ) AS t1
JOIN 
    (
        SELECT 
            Brand, 
            MAX(Total_Quantity_Sold) AS Max_Quantity
        FROM 
            (
                SELECT 
                    Brand, 
                    Color, 
                    SUM(Quantity) AS Total_Quantity_Sold
                FROM 
                    `global electronics`
                GROUP BY 
                    Brand, 
                    Color
            ) AS t2
        GROUP BY 
            Brand
    ) AS t3
ON 
    t1.Brand = t3.Brand AND t1.Total_Quantity_Sold = t3.Max_Quantity'''


mycursor.execute(query13)

result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]



print(tabulate(result, headers, tablefmt="grid"))

+----------------------+---------+-----------------------+
| Brand                | Color   |   Total_Quantity_Sold |
+======================+=========+=======================+
| Fabrikam             | Black   |                  2205 |
+----------------------+---------+-----------------------+
| The Phone Company    | Black   |                  5604 |
+----------------------+---------+-----------------------+
| Proseware            | Black   |                  3388 |
+----------------------+---------+-----------------------+
| Contoso              | Black   |                 13601 |
+----------------------+---------+-----------------------+
| Wide World Importers | Black   |                  7688 |
+----------------------+---------+-----------------------+
| Adventure Works      | Black   |                  5828 |
+----------------------+---------+-----------------------+
| Southridge Video     | Black   |                  7570 |
+----------------------+---------+-----------------------+
| Litware              | Silver  |                   952 |
+----------------------+---------+-----------------------+
| Tailspin Toys        | Blue    |                  3890 |
+----------------------+---------+-----------------------+
| Northwind Traders    | Black   |                  1565 |
+----------------------+---------+-----------------------+
| A. Datum             | Grey    |                   803 |
+----------------------+---------+-----------------------+

In [12]:
mydb.commit()

query14='''
SELECT 
    CASE 
        WHEN TIMESTAMPDIFF(YEAR, `Customer Birthday`, CURDATE()) BETWEEN 18 AND 25 THEN '18-25'
        WHEN TIMESTAMPDIFF(YEAR, `Customer Birthday`, CURDATE()) BETWEEN 26 AND 35 THEN '26-35'
        WHEN TIMESTAMPDIFF(YEAR, `Customer Birthday`, CURDATE()) BETWEEN 36 AND 45 THEN '36-45'
        WHEN TIMESTAMPDIFF(YEAR, `Customer Birthday`, CURDATE()) BETWEEN 46 AND 55 THEN '46-55'
        WHEN TIMESTAMPDIFF(YEAR, `Customer Birthday`, CURDATE()) BETWEEN 56 AND 65 THEN '56-65'
        ELSE 'above 65'
    END AS Age_Group,
    COUNT(*) AS Number_of_Purchases
FROM 
    `global electronics`
GROUP BY 
    Age_Group
ORDER BY 
    Number_of_Purchases DESC'''

mycursor.execute(query14)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]



print(tabulate(result, headers, tablefmt="grid"))

+-------------+-----------------------+
| Age_Group   |   Number_of_Purchases |
+=============+=======================+
| above 65    |                 21955 |
+-------------+-----------------------+
| 36-45       |                  9373 |
+-------------+-----------------------+
| 26-35       |                  9363 |
+-------------+-----------------------+
| 56-65       |                  9274 |
+-------------+-----------------------+
| 46-55       |                  9242 |
+-------------+-----------------------+
| 18-25       |                  3677 |
+-------------+-----------------------+

15.Query to Calculate Profit

Profit=(Unit Price USD−Unit Cost USD)×Quantity×Exchange Rate

In [15]:
query15 = '''
SELECT 
    `Order Number`,
    `Product Name`,
    `Unit Price USD`,
    `Unit Cost USD`,
    `Quantity`,
    `Exchange Rate`,
    (`Unit Price USD` - `Unit Cost USD`) * `Quantity` * `Exchange Rate` AS Profit
FROM 
    `global electronics`
ORDER BY 
    Profit DESC;
'''

mycursor.execute(query15)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]


print(tabulate(result[:10], headers, tablefmt="grid"))

+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|   Order Number | Product Name                                |   Unit Price USD |   Unit Cost USD |   Quantity |   Exchange Rate |   Profit |
+================+=============================================+==================+=================+============+=================+==========+
|        1655025 | Fabrikam Refrigerator 24.7CuFt X9800 Silver |          3199.99 |         1060.22 |          8 |          1.4309 |  24494.4 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1281003 | Fabrikam Refrigerator 24.7CuFt X9800 Brown  |          3199.99 |         1060.22 |          8 |          1.354  |  23178   |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1090016 | Fabrikam Refrigerator 24.7CuFt X9800 Orange |          3199.99 |         1060.22 |          8 |          1.2703 |  21745.2 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1351000 | WWI Projector 1080p LCD86 Silver            |          2295    |          760.38 |         10 |          1.4042 |  21549.1 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|         433005 | Litware Refrigerator 24.7CuFt X980 Silver   |          3199.99 |         1060.22 |         10 |          1      |  21397.7 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1088010 | Proseware Projector 1080p DLP86 Silver      |          2499    |          827.97 |         10 |          1.2703 |  21227.1 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1794022 | Adventure Works 52" LCD HDTV X590 White     |          2899.99 |          960.82 |         10 |          1      |  19391.7 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1731001 | Adventure Works 52" LCD HDTV X590 Black     |          2899.99 |          960.82 |         10 |          1      |  19391.7 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1421002 | Fabrikam Refrigerator 24.7CuFt X9800 Grey   |          3199.99 |         1060.22 |          9 |          1      |  19257.9 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+
|        1115009 | Fabrikam Refrigerator 24.7CuFt X9800 Grey   |          3199.99 |         1060.22 |          9 |          1      |  19257.9 |
+----------------+---------------------------------------------+------------------+-----------------+------------+-----------------+----------+

 16.high-performing regions by analyzing sales based on store location.

In [8]:
query16 = '''
SELECT 
    `Store Country`,
    `Store State`,
    SUM(`Quantity` * `Unit Price USD`) AS Total_Sales,
    COUNT(DISTINCT `StoreKey`) AS Number_of_Stores,
    AVG(`Quantity` * `Unit Price USD`) AS Avg_Sales_Per_Store
FROM 
    `global electronics`
GROUP BY 
    `Store Country`,
    `Store State`
ORDER BY 
    Total_Sales DESC
'''

mycursor.execute(query16)


result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

print(tabulate(result[:5], headers, tablefmt="grid"))

+-----------------+-----------------------+---------------+--------------------+-----------------------+
| Store Country   | Store State           |   Total_Sales |   Number_of_Stores |   Avg_Sales_Per_Store |
+=================+=======================+===============+====================+=======================+
| Online          | Online                |   1.14043e+07 |                  1 |               866.261 |
+-----------------+-----------------------+---------------+--------------------+-----------------------+
| United States   | Nevada                |   1.41789e+06 |                  1 |               934.048 |
+-----------------+-----------------------+---------------+--------------------+-----------------------+
| United States   | Kansas                |   1.39474e+06 |                  1 |               918.195 |
+-----------------+-----------------------+---------------+--------------------+-----------------------+
| United States   | Nebraska              |   1.3844e+06  |                  1 |               924.163 |
+-----------------+-----------------------+---------------+--------------------+-----------------------+
| Canada          | Northwest Territories |   1.33615e+06 |                  1 |               847.273 |
+-----------------+-----------------------+---------------+--------------------+-----------------------+

17.Total Sales by Currency Code

In [9]:
query17 = '''
SELECT 
    `Currency Code`, 
    SUM(`Quantity` * `Unit Price USD`) AS Total_Sales,
    SUM(`Quantity` * (`Unit Price USD` - `Unit Cost USD`)) AS Total_Revenue,
    COUNT(`Order Number`) AS Total_Orders
FROM 
    `global electronics`
GROUP BY 
    `Currency Code`
ORDER BY 
    Total_Sales DESC
'''

mycursor.execute(query17)

# Fetch the results and display them in a tabulated format
result = mycursor.fetchall()
headers = [i[0] for i in mycursor.description]

# Display the result as a table
print(tabulate(result, headers, tablefmt="grid"))

+-----------------+---------------+-----------------+----------------+
| Currency Code   |   Total_Sales |   Total_Revenue |   Total_Orders |
+=================+===============+=================+================+
| USD             |   2.98716e+07 |     1.74909e+07 |          33767 |
+-----------------+---------------+-----------------+----------------+
| EUR             |   1.13673e+07 |     6.68493e+06 |          12621 |
+-----------------+---------------+-----------------+----------------+
| GBP             |   7.08409e+06 |     4.1338e+06  |           8140 |
+-----------------+---------------+-----------------+----------------+
| CAD             |   4.72433e+06 |     2.75574e+06 |           5415 |
+-----------------+---------------+-----------------+----------------+
| AUD             |   2.70814e+06 |     1.5973e+06  |           2941 |
+-----------------+---------------+-----------------+----------------+